/* HERO */
.hero {
  background-color: #2f303a;
  letter-spacing: 0.06em;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  text-transform: uppercase;
}
.services {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: inherit;

  display: flex;
  align-items: center;
}

/* Features */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.feature-list .feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-title p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Наша команда */
.work-list {
  font-size: 16px;
  line-height: 1.19px;
}
.work-list .work-title {
  color: var(--title-text-color);
  font-weight: 500;
}
.work-list p {
  font-weight: 400;
}
